<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <pages enableEventValidation="false"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5" >
      <assemblies>
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151"/>
    <authentication mode="Forms">
      <forms loginUrl="~/admin/Login.aspx" />
    </authentication>
    <httpModules>
      <clear/>
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
    </httpModules>
  </system.web>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
  <connectionStrings>
    <add name="FuneralConnection" connectionString="Data Source=129.232.221.42\MSSQLUNP2014;Initial Catalog=ShortTerm;User Id=Gift; Password=Gift456;Connect Timeout=120;"
      providerName="System.Data.SqlClient" />
    <!--<add name="ShortTremDevConnectionString" connectionString="Data Source=129.232.221.42\MSSQLUNP2014;Initial Catalog=ShortTermPreProd;Persist Security Info=True;User ID=Gift;Password=Gift456"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <httpRedirect enabled="false" destination="" httpResponseStatus="Permanent" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="WCP" verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="http" maxBufferPoolSize="3147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.unpluggits.co.za/shorttermserviceUAT/FuneralServices.svc"
        binding="basicHttpBinding" bindingConfiguration="http" contract="FuneralServiceReference.IFuneralServices"
        name="http" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ReportEmailSenderId" value="noreply@mib.co.za" />
    <add key="ReportEmailSenderId1" value="noreply@mib.co.za" />
    <!--SSRS Configuraton setting-->
     <add key="SSRSUserName" value="administrator" />
    <add key="SSRSPassword" value="UN6lug345t!$%$#" />
    <add key="SSRSDomain" value="129.232.221.42" />
    <add key="SSRSUrl" value="http://129.232.221.42/ReportServer_MSSQLUNP2014" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network" from="noreply@truecodemaster.com">
        <network host="truecodemaster.com" port="26" userName="noreply@truecodemaster.com" password="n0r!ply@123" />
      </smtp>-->
      <smtp deliveryMethod="Network" from="noreply@mib.co.za">
        <network host="mail.unpluggit.co.za" port="587" enableSsl="true" userName="vusim@unpluggit.co.za" password="737Unplugg1t!" defaultCredentials="false" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" useDefaultCredentials="true"/>
  </system.net>
</configuration>