<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="FuneralConnection" connectionString="Data Source=129.232.221.42\MSSQLUNP2014;Initial Catalog=ShortTerm;User Id=Mokhele; Password=Mokhele456;Connect Timeout=120;" providerName="System.Data.SqlClient" />-->
    <add name="FuneralConnection" connectionString="Data Source=129.232.221.42\MSSQLUNP2014;Initial Catalog=ShortTremDev;User Id=Gift; Password=Gift456;Connect Timeout=120;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>